name: MID macos Test Apple/Intel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        include:
          - platform: macos-15
            args: "--target aarch64-apple-darwin"
            name: macOS Apple
          - platform: macos-15-intel
            args: "--target x86_64-apple-darwin"
            name: macOS Intel

    name: Build (${{ matrix.name }})
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust target
        run: rustup target add $(echo "${{ matrix.args }}" | sed 's/--target //')
      - name: Build
        run: cargo build ${{ matrix.args }} --verbose
      - name: Run tests
        run: cargo test ${{ matrix.args }} -- --nocapture
      - name: Get system_profiler
        run: system_profiler SPHardwareDataType
      - name: Check architecture
        run: arch; uname -m; uname -p; arch -x86_64 uname -m; arch -x86_64 uname -p; arch -arm64 uname -m; arch -arm64 uname -p
